@model MyNotes.UI.Web.ViewModels.Admin.Account.SaveAccountViewModel

@using MvcBase.WebHelper;

<div id="addAccount" >
    @using (Ajax.BeginJqueryForm("frmAddAccount", MVC.Account.Actions.AddAccount(), "addAccountCallback"))
    { 
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Add New Account</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span3 jqLabel">
                    @Html.LabelFor(m => m.UserId)
                </div>
                <div class="span9 jqInput">
                    @Html.DropDownList("UserId", (IEnumerable<SelectListItem>)ViewBag.Users, new { @class = "input-xlarge" })
                    @Html.PopoverValidationMessageFor(m => m.UserId)
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3 jqLabel">
                    @Html.LabelFor(m => m.Name)
                </div>
                <div class="span9 jqInput">
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Bank of America", @class = "input-xlarge" })
                    @Html.PopoverValidationMessageFor(m => m.Name)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" id="btnAddAccount" class="btn btn-success" value="Add" />
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    }
</div>