@model IEnumerable<MyNotes.UI.Web.ViewModels.Admin.Account.AccountViewModel>

<div id="accountListDiv" class="row span8" >
    <div class="list">
        <table id="accountListTbl" class="table table-striped">  
            <thead>
                <tr>
                    <th>S#</th>
                    <th>Name</th>
                    <th>User</th>
                    <th>&nbsp;</th>
                </tr>  
            </thead>  
            <tbody id="accountListTbody" data-url="{update: '@Url.Action(MVC.Admin.Actions.UpdateAccount())', deleteUrl: '@Url.Action(MVC.Admin.Actions.DeleteAccount())'}">
                @{
                    var index = 0;
                    foreach (var account in Model)
                    {
                        index += 1; 
                        <tr id="@account.Id">
                            <td class="jqSN" >@index</td>
                            <td id="name_@(account.Id)">@account.Name</td>
                            <td>@account.UserNickname</td>
                            <td style="width: 100px;">
                                <div class="pull-right action">
                                    <span class="icon-edit jqAccount"></span>
                                    <span class="icon-trash jqAccount"></span>
                                </div>
                            </td>
                        </tr>
                        <tr id="upd_tr_@(account.Id)" class="updRow" ><td id="upd_td_@(account.Id)" colspan="4"></td></tr>
                    }
                    if (index == 0) { 
                        <tr class="jqNoRecord">
                            <td class="center" colspan="4">
                                No records found
                            </td>
                        </tr>
                    }
                }
                
            </tbody>  
        </table>
    </div>
    <div class="row" >&nbsp;</div>
    <div class="row pull-right">
        <button id="btnNewAccount" data-add-url="@Url.Action(MVC.Admin.Actions.AddAccount())"  class="btn btn-primary jqAddNew">New Account</button>
    </div>
</div>