@model IEnumerable<MyNotes.UI.Web.ViewModels.Admin.Group.GroupViewModel>

<div id="groupListDiv" class="row span8" >
    <div class="list">
        <table id="groupListTbl" class="table table-striped">  
            <thead>
                <tr>
                    <th>S#</th>
                    <th>Name</th>
                    <th>System A/c</th>
                    <th>&nbsp;</th>
                </tr>  
            </thead>  
            <tbody id="groupListTbody" data-url="{update: '@Url.Action(MVC.Admin.Actions.UpdateGroup())', deleteUrl: '@Url.Action(MVC.Admin.Actions.DeleteGroup())'}">
                @{
                    var index = 1;
                    foreach (var group in Model)
                    { 
                        <tr id="@group.Id">
                            <td class="jqSN" >@index</td>
                            <td id="name_@(group.Id)">@group.Name</td>
                            <td>@(group.IsSysAccount ? "Yes" : "No")</td>
                            <td style="width: 100px;">
                                @if (!group.IsSysAccount) { 
                                    <div class="pull-right action">
                                        <span data-update-url="@Url.Action(MVC.Admin.Actions.UpdateGroup())" class="icon-edit jqGroup"></span>
                                        <span class="icon-trash jqGroup"></span>
                                    </div>
                                }
                            </td>
                        </tr>
                        if (!group.IsSysAccount) { 
                            <tr id="upd_tr_@(group.Id)" class="updRow" ><td id="upd_td_@(group.Id)" colspan="4"></td></tr>
                        }
                        index += 1;
                    }
                }
            </tbody>  
        </table>
    </div>
    <div class="row" >&nbsp;</div>
    <div class="row pull-right">
        <button id="btnNewGroup" data-add-url="@Url.Action(MVC.Admin.Actions.AddGroup())" class="btn btn-primary">New Group</button>
    </div>
</div>