@model IEnumerable<MyNotes.UI.Web.ViewModels.Admin.User.UserViewModel>

<div class="row span8">
    <table class="table table-striped">  
        <thead>
            <tr>
                <th>S#</th>
                <th>Username</th>
                <th>Name</th>
                <th>Nickname</th>
                <th>Group name</th>
                <th>&nbsp;</th>
            </tr>  
        </thead>  
        <tbody>
            @{
                var index = 1;
                foreach (var user in Model)
                { 
                    <tr id="@user.Id">
                        <td class="jqSN">@index</td>
                        <td id="@(user.Id)_uname">@user.Username</td>
                        <td id="@(user.Id)_name">@user.Name</td>
                        <td id="@(user.Id)_nickname">@user.Nickname</td>
                        <td id="@(user.Id)_gname">@user.GroupName</td>
                        <td style="width: 100px;">
                            <ul>
                                <li class="icon-edit jqUser"></li>
                                <li class="icon-remove jqUser"></li>
                            </ul>
                        </td>
                    </tr>
                    <tr id="@(user.Id)_upd_tr" class="updateFrm" style="display:none;"><td id="@(user.Id)_upd_td" colspan="4"></td></tr>
                    index += 1;
                }
            }
        </tbody>  
    </table>
    <div class="row" >&nbsp;</div>
    <div class="row pull-right">
        <button id="btnNewUser" class="btn btn-primary">New User</button>
    </div>
</div>