@model IEnumerable<MyNotes.UI.Web.ViewModels.Admin.User.UserViewModel>

<div id="userListDiv" class="row span8" >
    <div class="list">
        <table class="table table-striped">  
            <thead>
                <tr>
                    <th>S#</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Nickname</th>
                    <th>Group name</th>
                    <th>&nbsp;</th>
                </tr>  
            </thead>  
            <tbody id="userListTbody">
                @{
                    var index = 1;
                    foreach (var user in Model)
                    { 
                        <tr id="@user.Id" style="@(user.IsLocked ? "locked" : "")" >
                            <td class="jqSN">@index</td>
                            <td id="uname_@(user.Id)">@user.Username</td>
                            <td id="name_@(user.Id)">@user.Name</td>
                            <td id="nname_@(user.Id)">@user.Nickname</td>
                            <td id="gname_@(user.Id)">@user.GroupName</td>
                            <td style="width: 150px;">
                                @if (!user.IsSysAccount)
                                { 
                                    <div class="pull-right action">
                                        <span class="icon-edit jqUser"></span>
                                        <span class="icon-repeat jqUser"></span>
                                        <span class="icon-lock jqUser"></span>
                                        <span class="icon-trash jqUser"></span>
                                    </div>
                                }
                            </td>
                        </tr>
                        if (!user.IsSysAccount)
                        { 
                            <tr id="upd_tr_@(user.Id)" class="updRow" ><td id="upd_td_@(user.Id)" colspan="6"></td></tr>
                        }
                        
                        index += 1;
                    }
                }
            </tbody>  
        </table>
    </div>
    <div class="row" >&nbsp;</div>
    <div class="row pull-right">
        <button id="btnNewUser" class="btn btn-primary">New User</button>
    </div>
</div>