@using MvcBase.WebHelper.Mvc.Extensions;

@{
    ViewBag.Title = "My Notes - Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-unit" style="position:absolute;">
    <div class="row span8">
        <ul class="nav nav-pills">  
            <li class="jqTab active">@Html.ActionLinkWithFragment("Groups", MVC.Admin.Actions.Groups(), "Groups")</li>     
            <li class="jqTab">@Html.ActionLinkWithFragment("Users", MVC.Admin.Actions.Users(), "Users")</li>  
        </ul>        
    </div>
    <div id="mainContainer" class="hero-unit">
    
    </div>
    <div id="altMsg" class="row center" style="display:none;">&nbsp;</div>
</div>
<!--group list template-->
<script id="groupListTmpl" type="text/x-jQuery-tmpl">
    <tr data-id="{{:id}}" >
        <td>{{:sno}}</td>
        <td>{{:name}}</td>
        <td>{{:IsSysAccount}}</td>
        <td>
            <ul><li class="icon-edit jqGroup"></li><li class="icon-remove jqGroup"></li></ul>
        </td>
    </tr>
</script>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Include/Scripts/app/admin.handler.js")" ></script>
    <script type="text/javascript" >
        var groupListUrl = '@Url.Action(MVC.Admin.Actions.Groups())';
        var userListUrl = '@Url.Action(MVC.Admin.Actions.Users())';
        var addGroupUrl = '@Url.Action(MVC.Admin.Actions.AddGroup())';
        var addUserUrl = '@Url.Action(MVC.Admin.Actions.AddUser())';
    </script>
}