@using MvcBase.WebHelper.Mvc.Extensions;

@{
    ViewBag.Title = "My Notes - Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-unit" style="position:absolute;">
    <div class="row span8">
        <ul class="nav nav-pills">  
            <li class="jqTab active">@Html.ActionLinkWithFragment("Groups", MVC.Admin.Actions.Groups(), "Groups")</li>     
            <li class="jqTab">@Html.ActionLinkWithFragment("Users", MVC.Admin.Actions.Users(), "Users")</li>  
        </ul>        
    </div>
    <div id="mainContainer" class="hero-unit">
    
    </div>
    <div id="altMsg" class="row center" style="display:none;">&nbsp;</div>
</div>
<!--group list template-->
<script id="groupListTmpl" type="text/x-jQuery-tmpl">
    <tr id="{{:id}}" >
        <td class="jqSN">{{:sno}}</td>
        <td id="name_{{:id}}">{{:name}}</td>
        <td>{{:isSysAcc}}</td>
        <td style="width: 100px;">
            <div class="pull-right"><span class="icon-edit jqGroup"></span><span class="icon-remove jqGroup"></span></div>
        </td>
    </tr>
    <tr id="upd_tr_{{:id}}" class="updRow" ><td id="upd_td_{{:id}}" colspan="4"></td></tr>
</script>
<!--user list template-->
<script id="userListTmpl" type="text/x-jQuery-tmpl">
    <tr id="{{:id}}" >
        <td class="jqSN">{{:sno}}</td>
        <td id="uname_{{:id}}">{{:uname}}</td>
        <td id="name_{{:id}}">{{:name}}</td>
        <td id="nname_{{:id}}">{{:nname}}</td>
        <td id="gname_{{:id}}">{{:gname}}</td>
        <td style="width: 100px;">
            <div class="pull-right"><span class="icon-edit jqUser"></span><span class="icon-remove jqUser"></span></div>
        </td>
    </tr>
    <tr id="upd_tr_{{:id}}" class="updRow" ><td id="upd_td_{{:id}}" colspan="6"></td></tr>
</script>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Include/Scripts/app/admin.handler.js")" ></script>
    <script type="text/javascript" >
        // group screen urls
        var groupListUrl = '@Url.Action(MVC.Admin.Actions.Groups())';
        var addGroupUrl = '@Url.Action(MVC.Admin.Actions.AddGroup())';
        var updateGroupUrl = '@Url.Action(MVC.Admin.Actions.UpdateGroup())';
        var deleteGroupUrl = '@Url.Action(MVC.Admin.Actions.DeleteGroup())';
        // user screen urls
        var userListUrl = '@Url.Action(MVC.Admin.Actions.Users())';
        var addUserUrl = '@Url.Action(MVC.Admin.Actions.AddUser())';
        var updateUserUrl = '@Url.Action(MVC.Admin.Actions.UpdateUser())';
        var deleteUserUrl = '@Url.Action(MVC.Admin.Actions.DeleteUser())';
    </script>
}